* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lato";
    font-size: 15px;
    line-height: 1.8;
    /* color: #777; */
}

.nav-container a:link, .search-button {
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}

.nav-container a:link {
    display: inline-block;
    font-weight: 400;
}

.nav-container a:visited {
    color: #777;
    font-weight: 400;
}

.nav-container a:hover {
    background-color: #ccc;
    color: black;
}

.search-button:hover {
    display: inline-block;
    color: white;
    background-color: red;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
    height: 400px;
    background-image: url("./img/parallax1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    position: relative;
}

.my-website-title {
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-website-title p {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    letter-spacing: 10px;
}