* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lato";
    font-size: 15px;
    line-height: 1.8;
    /* color: #777; */
}

.nav-container a:link, .search-button {
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}

.nav-container a:link {
    display: inline-block;
    font-weight: 400;
}

.nav-container a:visited {
    color: #777;
    font-weight: 400;
}

.nav-container a:hover {
    background-color: #ccc;
    color: black;
}

.search-button:hover {
    display: inline-block;
    color: white;
    background-color: red;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
    height: 400px;
    background-image: url("./img/parallax1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    position: relative;
}

.my-website-title {
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-website-title p {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    letter-spacing: 10px;
}

.article-introduction-container {
    margin: 0px 44px;
    padding: 64px 16px;
}

.article-introduction-container h3 {
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #777;
}

.introduction-title {
    color: #777;
    margin: 15px;
    font-style: italic;
    text-align: center;
}

.introduction-content {
    opacity: 0.75;
    margin: 15px 0px;
}

.user-icon {
    margin-right: 15px;
}

.author-container p {
    font-weight: bold;
    color: #777;
    margin: 15px 0px;
    text-align: center;
}

.author-container {
    padding: 12px 24px;
}

.author-container img {
    margin-top: 33px;
    width: 100%;
    aspect-ratio: auto 500 / 333;
}

.author-content-container {
    display: flex;
}

.author-container {
    width: 50%;
}

.content-container {
    width: 50%;
}

.content-container {
    padding: 12px 24px;
    color: #777;
    margin: 15px;
}

.good-title {
    font-size: 18px;
    color: #777;
    margin: 18px 0px;
    padding: 16px 0px;
    text-align: center;
}

.level-title {
    color:#777;
    letter-spacing: 10px;
    margin: 15px 0px;
}

.major-level {
    background-color: #f1f1f1;
    color: white;
}

.photo-real-level, .web-real-level, .photoshop-real-level {
    background-color: #616161;
    padding: 4px 8px;
    text-align: center;
}

.photo-real-level {
    width: 90%;
}

.web-real-level {
    width: 85%;
}

.photoshop-real-level {
    width: 75%;
}

.portfolio-number {
    padding: 16px 0px;
    color: white;
    display: flex;
    background-color: #616161;
}

.portfolio-detail-container {
    margin: 16px 0px;
    width: 25%;
    text-align: center;
}

.number-client {
    font-size: 24px;
}

.img-portfolio {
    height: 400px;
    background-image: url("./img/parallax2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}